<!DOCTYPE html>
<html lang="en-US">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/example-application.css">

    <script src="/turbo.es2017-umd.js"></script>
</head>
<body>
